<%- include('../components/PartialHead')%>
<body class="container-lg mx-auto">
    <div class="breadcrumb m-0">
        <span class="breadcrumb-item py-3 text-5xl font-bold"> Products </span> 
    </div>
    <ul class="flex justify-start flex-wrap">
        <% items.forEach(item => { %>
            <li class="w-25 p-2 rounded-lg hover:cursor-pointer hover:outline outline-2 outline-offset-2">
                <a href="/product/<%= item.id %>" class="text-black flex flex-col p-2">
                    <img class="w-[200px] h-[200px] self-center" src="<%= item.image %>" alt="<%= item.name %>">
                    <span class="text-4xl text-center font-bold"> <%= item.name %> </span>
                    <span class="text-xl text-start ms-10"> <%= item.desc %> </span>
                    <span class="text-2xl text-start ms-10"> <%= item.price %> </span>
                </a>
                <div class="flex px-5">
                    <div class="w-75 text-center bg-dark hover:!bg-white text-white hover:!text-black outline me-2 rounded-lg">
                        <button class="text-xl p-1 "> 
                            BUY NOW 
                        </button>
                    </div>
                    <form action="/add-to-cart" method="post" class="w-25 text-center bg-dark hover:!bg-white text-white hover:!text-black outline rounded-lg">
                        <input type="hidden" name="itemID" id="itemID" value="<%= item.id %>">
                        <input type="hidden" name="itemName" id="itemName" value="<%= item.name %>">
                        <input type="hidden" name="itemPrice" id="itemPrice" value="<%= item.price %>">
                        <input type="hidden" name="itemQty" id="itemQty" value="1">
                        <button class="text-xl p-1">
                            <i class="fal fa-cart-arrow-down"></i>
                        </button>
                    </form>
                </div>
            </li>
        <% }) %>
    </ul>
</body>
<%- include('../components/PartialFooter')%>

