<%- include('../components/PartialHead')%>
<body class="container-lg mx-auto pb-5">
    <div class="breadcrumb m-0">
        <span class="breadcrumb-item py-3 text-5xl font-bold"> Products </span> 
    </div>
    <ul class="flex justify-start flex-wrap">
        <% items.forEach(item => { %>
            <li class="w-50 p-2 rounded-lg hover:cursor-default hover:outline outline-2 outline-offset-2">
                <div class="text-black flex flex-col p-2">
                    <img class="w-[200px] h-[200px] self-center" src="<%= item.image %>" alt="<%= item.name %>">
                    <span id="itemName" class="text-4xl text-center font-bold"> <%= item.name %> </span>
                    <span class="text-xl text-start ms-10"> <%= item.desc %> </span>
                    <span class="text-2xl text-start ms-10"> $<%= item.price %> </span>
                </div>
                <div class="flex px-5">
                    <div class="w-75 text-center bg-dark hover:!bg-white text-white hover:!text-black outline me-2 rounded-lg">
                        <a class="text-decoration-none hover:text-black" href="/product-<%= item.id %>">
                            <button class="text-xl p-1 "> 
                                BUY NOW 
                            </button>
                        </a>
                    </div>
                    <div class="w-25 content-center text-center bg-dark hover:!bg-white text-white hover:!text-black outline rounded-lg">
                        <button class="addToCartBtn text-xl"
                            data-id="<%=item.id%>" 
                            data-name="<%=item.name%>"
                            data-qty="1"
                            data-img="<%=item.image%>"
                            data-price="<%=item.price%>"
                            data-ttl="<%=item.price%>"
                        >
                            <i class="fal fa-cart-arrow-down self-center"></i>
                        </button>
                    </div>
                </div>
            </li>
        <% }) %>
    </ul>
</body>
<script src="/scripts.js"></script>
<%- include('../components/PartialFooter')%>

